body {
    background-color: rgb(207, 116, 11);
    box-sizing: border-box;
    color: white;
}
.navigation {
    display: flex;
    justify-content: start;
    border-bottom: 2px solid lightblue;
}
.link {
    font-size: 20px;
    font-weight: 300;
    padding: 30px;
    text-decoration: none;
    transition: .5s;
}
.link:hover {
    text-decoration: underline;
}

.container {
    display: grid;
    justify-content: center;
    align-items: center;
}
.start, .name, .btn {
    padding: 20px;
}
.btn {
    border-radius: 30px;
    border: none;
    background-color: lightgray;
    color: black;
    font-size: 17px;
    transition: .5s;
    cursor: pointer;
}
.btn:hover {
    background-color: white;
    color: black;
}